extends layout

block content
    .leftColumn.container
        ul
            li examples
            li examples
            li examples
            li examples
            li examples
    .mainColumn.container
        !{example._source.html}
    .rightColumn.container
        ul
            li examples
            li examples
            li examples
            li examples
            li examples