html {
    height: 100%;
}
body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
    height: 100%;
}

a {
  color: #00B7FF;
}

ul {
    list-style: none;
}

li {
    padding-bottom: 15px;
}

.container {
    outline: 1px solid black;
    text-align: center;
    display: table-cell;
}

.rightColumn {
    width: 20%;
}

.leftColumn {
    width: 20%;
}

.mainColumn {
    //display: inline-block;
    //width: 60%;
    padding: 1%;
}



#examples {
  margin:0 0 30px 0;
}
#examples table {
  border-collapse:separate;
  border-spacing:1px;
  background:#CCC;
}
#examples table th {
  background:#EEE;
  font-weight:600;
  padding:10px 20px;
  text-align:center;
}
#examples table tbody {
  padding:0; margin:0;
  border-collapse:collapse;
  border-spacing:0px;
}
#examples table td {
  background:#FFF;
  padding:5px 10px;
}

.mw-editsection {
    visibility: hidden;
}
