html {
    height: 100%;
}
body {
    padding: 50px;
    font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
    color: #00B7FF;
}

.container ul {
    list-style: none;
}

.container li {
    padding-bottom: 15px;
}

.container {
    outline: 1px solid black;
    text-align: center;
    display: table-cell;
    padding-left: 1%;
    padding-right: 1%;
}

.rightColumn {
    width: 20%;
}

.leftColumn {
    width: 20%;
}

.mainColumn {
}

.bottomRow {
    outline: 1px solid black;
    float: left;
    width: 100% ;
}

.bottomRow li {
    float: left;
    padding-right: 40px;
}


#examples {
    margin:0 0 30px 0;
}
#examples table {
    border-collapse:separate;
    border-spacing:1px;
    background:#CCC;
}
#examples table th {
    background:#EEE;
    font-weight:600;
    padding:10px 20px;
    text-align:center;
}
#examples table tbody {
    padding:0; margin:0;
    border-collapse:collapse;
    border-spacing:0px;
}
#examples table td {
    background:#FFF;
    padding:5px 10px;
}

.mw-editsection {
    visibility: hidden;
}
